* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.grid_container{
	display: grid;
	grid-template-columns: auto auto;
}

.grid_item{
	padding: 5px;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

#main {
	margin: auto;
	width: 80%;
	height: 100%;
	justify-content: space-around;
}

input{
	height: 20px;
	color: white;
	background: black;
	border: 2px outset white;
}

input[type="button"]{
	display: block;
	margin: auto;
}

input[type='number']{
	width: 58px;
}

#close_btn{
	color: red;
	background: black;
	margin-right: 14px;
}

#confirm_btn {
	background-color: green;
	border-style: solid;
	border-color: green;
	border-width: 3px;
	border-radius: 5px;
	color: white;
	display: inline-block;
}

#clear_btn{
	background-color: red;
	border-style: solid;
	border-color: red;
	border-width: 3px;
	border-radius: 5px;
	color: white;
	display: inline-block;
}

#input_form_container{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 3;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#btn_set{
	background-color: black;
	visibility: hidden;
	color: green;
	font-size: 50px;
	border: 1px solid black;
}

#btn_set:hover {
	color: red;
 }
 
#btn_set:focus{
	outline: none;
}

h2 {
	font-size:  3vw;
}

form[name=oper_time_setter]{
	padding: 10px;
	margin-top: 10px;
	background: black;
}


#change_oper_time_form{
	background: black;
	border: 1px solid green;
	visibility: hidden;
	color: white;
	
}

#operative_time_and_date{
	color: red;
	width: 100%
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}


.flex_row {
	flex-direction: row;
	width: 100%;
}

.time_label{
	font-size: 3.5vw;
}

.weekday{
	font-size: 2vw;
}

.time{
	font-size: 5.5vw;
}

.date{
	font-size: 2vw;
}

#oper_days_time > div{
	flex: 1 1;
	margin-top: 50px;
	font-size: 3.0vw;
	text-align: center;
	margin: 5px;
}

#oper_date{
	font-size: 2.5vw;
}

#oper_time, #oper_days{
	vertical-align: middle;
	font-size: 6vw;
}

#time{
	justify-content: space-around;
	color: rgb(0, 255, 0);
	text-align: center;
}
#form_header{
	margin-top: 10px;
	justify-content: space-between;
}

#khsk > div{
	margin-top: 20px;
}

#msc > div{
	margin-top: 20px;
}
.flex_column{
	flex-direction: column;
}